*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(199, 40, 66);
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    border: 20px solid white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1),
                      0 20px 20px rgba(0, 0, 0, 0.2),
                      0 0 0 4px rgba(255, 255, 255, 1);
}